* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #3A99BD url() no-repeat fixed;
  background-size: cover;
}
