body {
	background: lime;
}

#time {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 20vw;
	font-family: sans-serif;
	font-family: monospace;
	font-weight: bold;
	-webkit-text-stroke: 5px white;
}