/* Size Information
Source: Width = 400, Height = 1080
StreamerKit: Text Size = 30, Small Avatars
*/

@import url('https://fonts.googleapis.com/css?family=Fredoka');

* {
	box-sizing: border-box;
}

[class^=Voice_voiceContainer] [class^=Voice_voiceStates] {
	display: grid;
    grid-template-columns: auto auto;
	justify-content: start;
	align-content: center;
	height: 100vh;
	margin: 0;
	padding-left: 10px;
	font-family: Fredoka, sans-serif;
	font-weight: normal;
}

/* Voice state set to contents so reordering users is possible */
[class^=Voice_voiceContainer] [class^=Voice_voiceStates] [class^=Voice_voiceState_] {
	display: contents;
}

[class^=Voice_voiceContainer] [class^=Voice_voiceStates] [class^=Voice_voiceState_] [class^=Voice_user] {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	padding: 0 !important;
}

[class^=Voice_voiceContainer] [class^=Voice_voiceStates] [class^=Voice_voiceState_] img[class^=Voice_avatar] {
	margin: 0 5px 3px 0;
	width: 46px;
	height: 46px;
	filter: drop-shadow(3px 3px 3px black);
}

[class^=Voice_voiceContainer] [class^=Voice_voiceStates] [class^=Voice_voiceState_] [class^=Voice_user] [class^=Voice_name] {
	background: #266448 !important;
	padding: 0 0.3em;
	border-radius: 100px;
	box-shadow: black 5px 5px 10px;
}

[class^=Voice_voiceContainer] [class^=Voice_voiceStates] [class^=Voice_voiceState_] [class^=Voice_user] [class^=Voice_name],
[class^=Voice_voiceContainer] [class^=Voice_voiceStates] [class^=Voice_voiceState_] [class^=Voice_user] [class^=Voice_name]:before {
	display: block;
	max-width: calc(100vw - 75px);
	color: white;
	text-overflow: ellipsis;
	line-height: initial;
	overflow: hidden;
}

/* Fade out names when not speaking */
[class^=Voice_voiceContainer] [class^=Voice_voiceStates] [class^=Voice_voiceState_] img[class^=Voice_avatar]:not([class*=Voice_avatarSpeaking]) + [class^=Voice_user] [class^=Voice_name] {
	background: #1e2124 !important;
	opacity: 0.8;
	animation: fade 1s 1s forwards;
}

@keyframes fade {
	0% { opacity: 0.8; }
	100% { opacity: 0; }
}


/* Put my user above others */
img[src*="600050081173078048"],
img[src*="600050081173078048"] + [class^=Voice_user] {
	order: -1;
}

/* Make my img slightly larger than others */
[class^=Voice_voiceContainer] [class^=Voice_voiceStates] [class^=Voice_voiceState_] img[src*="600050081173078048"] {
	width: 52px;
	height: 52px;
	margin-left: -3px;
}

/* Nickname Replacements */
[class^=Voice_voiceContainer] [class^=Voice_voiceStates] [class^=Voice_voiceState_] [class^=Voice_user] [class^=Voice_name]:before {
	letter-spacing: initial;
}

img[src*="600050081173078048"] + [class^=Voice_user] [class^=Voice_name],
img[src*="159922190748352514"] + [class^=Voice_user] [class^=Voice_name],
img[src*="233392384971374593"] + [class^=Voice_user] [class^=Voice_name],
img[src*="254034470930219008"] + [class^=Voice_user] [class^=Voice_name],
img[src*="310880678487261184"] + [class^=Voice_user] [class^=Voice_name],
img[src*="205559220697956354"] + [class^=Voice_user] [class^=Voice_name],
img[src*="185532008548663297"] + [class^=Voice_user] [class^=Voice_name],
img[src*="324306602331209730"] + [class^=Voice_user] [class^=Voice_name] {
	display: flex !important;
	color: transparent !important;
	letter-spacing: -9999px;
}

img[src*="600050081173078048"] + [class^=Voice_user] [class^=Voice_name]:before {
	content: "CheeseLiker";
}

img[src*="159922190748352514"] + [class^=Voice_user] [class^=Voice_name]:before {
	content: "Soccer";
}

img[src*="233392384971374593"] + [class^=Voice_user] [class^=Voice_name]:before {
	content: "joshrpg";
}

img[src*="254034470930219008"] + [class^=Voice_user] [class^=Voice_name]:before {
	content: "Guardax";
}

img[src*="310880678487261184"] + [class^=Voice_user] [class^=Voice_name]:before {
	content: "beandird";
}

img[src*="205559220697956354"] + [class^=Voice_user] [class^=Voice_name]:before {
	content: "Angelic";
}

img[src*="324306602331209730"] + [class^=Voice_user] [class^=Voice_name]:before {
	content: "Fell Umbra";
}

img[src*="185532008548663297"] + [class^=Voice_user] [class^=Voice_name]:before {
	content: "Blackbelt244";
}